<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>通讯录</string>
		<key>image</key>
		<string>icon_address</string>
		<key>int_id</key>
		<string>1000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>新闻</string>
		<key>image</key>
		<string>icon_new</string>
		<key>int_id</key>
		<string>1001</string>
	</dict>
	<dict>
		<key>name</key>
		<string>请假申请</string>
		<key>image</key>
		<string>icon_leave</string>
		<key>int_id</key>
		<string>1002</string>
	</dict>
	<dict>
		<key>name</key>
		<string>群发短信</string>
		<key>image</key>
		<string>icon_message</string>
		<key>int_id</key>
		<string>1003</string>
	</dict>
	<dict>
		<key>name</key>
		<string>物资管理</string>
		<key>image</key>
		<string>icon_goods</string>
		<key>int_id</key>
		<string>1004</string>
	</dict>
	<dict>
		<key>name</key>
		<string>派车管理</string>
		<key>image</key>
		<string>icon_car</string>
		<key>int_id</key>
		<string>1005</string>
	</dict>
	<dict>
		<key>name</key>
		<string>会议申请</string>
		<key>image</key>
		<string>icon_metting</string>
		<key>int_id</key>
		<string>1006</string>
	</dict>
	<dict>
		<key>name</key>
		<string>出差申请</string>
		<key>image</key>
		<string>icon_out</string>
		<key>int_id</key>
		<string>1007</string>
	</dict>
	<dict>
		<key>name</key>
		<string>通知公告</string>
		<key>image</key>
		<string>icon_notice</string>
		<key>int_id</key>
		<string>1008</string>
	</dict>
	<dict>
		<key>name</key>
		<string>工作预约</string>
		<key>image</key>
		<string>icon_order</string>
		<key>int_id</key>
		<string>1009</string>
	</dict>
	<dict>
		<key>name</key>
		<string>工作计划</string>
		<key>image</key>
		<string>icon_plan</string>
		<key>int_id</key>
		<string>1010</string>
	</dict>
	<dict>
		<key>name</key>
		<string>日程管理</string>
		<key>image</key>
		<string>icon_schedule</string>
		<key>int_id</key>
		<string>1011</string>
	</dict>
	<dict>
		<key>name</key>
		<string>加班申请</string>
		<key>image</key>
		<string>icon_overtiome</string>
		<key>int_id</key>
		<string>1012</string>
	</dict>
	<dict>
		<key>name</key>
		<string>审批</string>
		<key>image</key>
		<string>icon_approval</string>
		<key>int_id</key>
		<string>1013</string>
	</dict>
	<dict>
		<key>name</key>
		<string>值班管理</string>
		<key>image</key>
		<string>icon_duty</string>
		<key>int_id</key>
		<string>1014</string>
	</dict>
	<dict>
		<key>name</key>
		<string>兑换</string>
		<key>image</key>
		<string>icon_exchange</string>
		<key>int_id</key>
		<string>1015</string>
	</dict>
</array>
</plist>
